APP_ENV=development
API_PORT=8080

CORS_ORIGINS=http://localhost:4200

DB_ENABLED=false
DB_HOST=127.0.0.1
DB_PORT=1522
DB_SERVICE=FREEPDB1
DB_USER=SUPERMARKET
DB_PASSWORD=CAMBIAR

DB_MAX_OPEN_CONNECTIONS=10
DB_MAX_IDLE_CONNECTIONS=5
DB_CONNECTION_MAX_LIFETIME_MINUTES=30

DEVICE_KEY=CAMBIAR
IOT_DEVICE_CODE=ESP32-BODEGA-01
IOT_TEMPERATURE_MIN=2
IOT_TEMPERATURE_MAX=8